@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-poppins); 
}

.kalnia {
  font-family: var(--font-kalnia);
  /* font-size: 4.25rem; */
}

.poppins {
  font-family: var(--font-poppins);
  /* font-size: 1rem; */
}